{
  "presets": [
    ["@babel/preset-env", {
      "corejs": 3,
      "useBuiltIns": "usage",
      "debug": false
    }],
    "@babel/preset-flow",
    "@babel/preset-react",
    "minify"
  ],
	"plugins": [
    "@babel/plugin-transform-object-assign",
    "@babel/plugin-transform-runtime",
    [
      "@babel/plugin-proposal-class-properties"
    ],
    "@babel/plugin-transform-flow-strip-types"
  ]
}
