@mixin input() {
  input {
    &[type='radio'], &[type='checkbox'] {
      position: absolute;
      width: 1px;
      height: 1px;
      opacity: 0;
    }
    &[type='radio']:disabled + label {
      opacity: 0.5;
    }
    &[type="checkbox"] + label, &[type='radio'] + label {
      display: inline-block;
      cursor: pointer;
    }
    &[type='radio'] + label {
      width: 100%;
      padding: 4px 0px;
    }
    &[type="checkbox"] + label > svg, &[type="radio"] + label > svg {
      float: left;
    }
    &[type="checkbox"] + label > div, &[type="radio"] + label > div {
      width: auto;
      height: 24px;
      line-height: 24px;
      padding-left: 5px;
      cursor: pointer;
      float: left;
      white-space: nowrap;
    }
    &[type=email], &[type=number], &[type=password], &[type=tel], &[type=text] {
      border: 1px solid #96a1b0;
      padding: 15px 8px;
      border-radius: 2px;
      color: #333f48;
      background-color: #fff;
      line-height: 13px;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 100%;
      transition: border .5s ease;
      @media screen and (min-width: 560px) {
        padding: 7px 8px;
				height: 34px;
				min-height: 34px;
      }
    }
    &.input-error {
      border: 1px solid #e4002b;
    }
  }
  .ext {
    fill: #fff;
  }
  .int {
    fill: rgb(0, 132, 255);
  }
  .eye, .unit {
    position: absolute;
    right: 5px;
    top: 37px;
    @media screen and (min-width: 560px) {
      top: 29px;
    }
  }
  .eye {
    right: 8px;
    cursor: pointer;
    .show {
      fill: none;
    }
  }
  .unit {
    height: 24px;
    line-height: 24px;
    width: 24px;
    text-align: center;
    font-size: 14px;
    color: #333f48;
    font-weight: 500;
  }
  .limit-char {
    text-align: right;
    position: absolute;
    width: 100%;
  }
}
