@mixin listbox() {
  .listbox {
    [role="listbox"] {
      padding: 0;
      background: white;
    }
    [role="option"] {
      display: block;
      padding: 0px 16px;
      position: relative;
      line-height: 40px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer;
    }
    [role="option"]:hover span, [role="option"].focused span {
      text-decoration: underline;
    }
    [role="option"].selected {
      box-shadow: 0 2px 9px 0 #96a1b0;
      background-color: #ffffff;
      width: -moz-calc(100% - 14px);
      width: -webkit-calc(100% - 14px);
      width: calc(100% - 14px);
      margin: 0 auto;
      text-decoration: none;
      padding: 0px 8px;
      border-radius: 3px;
    }
    [role="option"].selected span {
      text-decoration: none;
    }

    [id^="lb_button_"] {
      border-radius: 0;
      text-align: left;
      position: relative;
      background-color: #fff;
      border: 1px solid #d8d8df;
      border-radius: 2px;
      width: 100%;
      padding: 14px 26px 14px 8px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      &.input-error {
        border: 1px solid #e4002b;
      }
    }

    [id^="lb_button_"][aria-disabled="true"] {
      background-color: #f1f1f1;
      border: 1px solid #f1f1f1;
    }
    [id^="lb_button_"] svg {
      position: absolute;
      right: 8px;
      top: 11px;
    	z-index: 1;
      transition-duration: 0.2s, 0.2s;
    	transition-timing-function: ease-in, ease-out;
      @media screen and (min-width: 560px) {
        top: 5px;
        right: 5px;
      }
    }
    [id^="lb_button_"][aria-disabled="true"] svg {
      display: none;
    }
    [id^="lb_button_"][aria-expanded="true"] svg {
      transform: rotate(180deg);
    }

    [id^="lb_list_"] {
      border-top: 0;
      overflow-y: auto;
      position: absolute;
      margin: 0;
      width: 100%;
      z-index: 2;
      background: #f0f2f5;
      padding: 8px 0px;
      margin: 1px 0px;
    }

    [id^="lb_list_"]::-webkit-scrollbar-track
    {
    	background-color: #F5F5F5;
    }

    [id^="lb_list_"]::-webkit-scrollbar
    {
    	width: 3px;
    	background-color: #F5F5F5;
    }

    [id^="lb_list_"]::-webkit-scrollbar-thumb
    {
    	background-color: #000000;
    }

    .hidden {
      display: none;
    }

    @media screen and (min-width: 560px) {
      [id^="lb_button_"] {
        height: 34px;
        padding: 7px 26px 7px 8px;
      }
      [id^="lb_button_"] svg {
        top: 5px;
      }
      [role="option"] {
        line-height: 34px;
      }
    }

    .add-label {
      clear: both;
      position: relative;
      line-height: normal;
      font-size: 9px;
      width: 100%;
      white-space: normal;
      top: -8px;
    }

    [role="option"].whith-label {
      height: auto;
    }
    .add-label:hover {
      text-decoration: none!important;
    }
  }
}
