@mixin select-style() {
  .select-style {
    background: #fff;
    height: 48px;
    line-height: 48px;
    width: 100%;
    display: inline-block;
    border: 1px solid #d8d8df;
    border-radius: 2px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    @media screen and (min-width: 560px) {
      height: 34px;
			line-height: 34px;
    }
    label {
      position: absolute;
      top: -21px;
      left: 0;
      display: block;
      font-size: 13px;
    }
    select {
      padding: 0px 26px 0px 8px;
      border: 0;
      background: transparent;
      height: 46px;
      color: #333f48;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 100%;
      cursor: pointer;
      z-index: 1;
      @media screen and (min-width: 560px) {
        height: 32px;
      }
      &[aria-expanded="true"] + svg {
				transform: rotate(180deg);
			}
      &::-ms-expand {
      	display: none;
      }
    }
    svg {
      position: absolute;
      right: 8px;
      top: 11px;
      z-index: -1;
      transition-duration: 0.2s, 0.2s;
      transition-timing-function: ease-in, ease-out;
      @media screen and (min-width: 560px) {
        top: 5px;
        right: 5px;
      }
    }
  }
}
