@mixin textarea() {
  textarea {
		border: 1px solid #96a1b0;
		padding: 15px 8px;
		border-radius: 2px;
		color: #333f48;
		background-color: #fff;
		line-height: 13px;
		box-sizing: border-box;
		-webkit-appearance: none;
		-moz-appearance: none;
		width: 100%;
		transition: border .5s ease;
	}
  .textarea-tab {
    border: 1px solid #96a1b0;
  }
}
