[role="listbox"] {
  min-height: 180px;
  padding: 0;
  background: white;
}

[role="option"] {
  display: block;
  padding: 0px 16px;
  position: relative;
  line-height: 34px;
}
[role="option"]:hover, [role="option"].focused {
  text-decoration: underline;
}
[role="option"].selected {
  box-shadow: 0 2px 4px 0 rgba(150, 161, 176, 0.5);
  background-color: #ffffff;
  width: -moz-calc(100% - 14px);
  width: -webkit-calc(100% - 14px);
  width: calc(100% - 14px);
  margin: 0 auto;
  text-decoration: none;
  padding: 0px 8px;
}

#exp_button {
  border-radius: 0;
  text-align: left;
  position: relative;
  background-color: #fff;
  border: 1px solid #d8d8df;
  border-radius: 2px;
  width: 100%;
  height: 34px;
  padding: 7px 8px;
}
#exp_button[aria-disabled="true"] {
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
}
#exp_button svg {
  position: absolute;
	right: 1px;
	top: 5px;
	z-index: 1;
  transition-duration: 0.2s, 0.2s;
	transition-timing-function: ease-in, ease-out;
}
#exp_button[aria-disabled="true"] svg {
  display: none;
}
#exp_button[aria-expanded="true"] svg {
  transform: rotate(180deg);
}

#exp_elem_list {
  border-top: 0;
  max-height: 10em;
  overflow-y: auto;
  position: absolute;
  margin: 0;
  width: 100%;
  z-index: 2;
  background: #f0f2f5;
  padding: 8px 0px;
}

.hidden {
  display: none;
}
