.fake-cont {
	position: absolute;
	margin-top: -52px;
	background: #f1f1f1;
	opacity: 0;
	z-index: -1;
	transition-duration: 0.3s, 0.3s;
	transition-timing-function: ease-in, ease-out;
	width: 100%;
	.min-max {
		float: left;
		line-height: 33px;
		font-size: 11px;
		color: rgb(106, 119, 134);
		margin-right: 15px;
	}
}
