.container-field {
	.fake-cont {
		position: absolute;
		margin-top: -66px;
		opacity: 0;
		z-index: -1;
		transition-duration: 0.3s, 0.3s;
		transition-timing-function: ease-in, ease-out;
		width: 100%;
		padding: 10px 10px 0px 10px;
		@media screen and (min-width: 560px) {
			margin-top: -52px;
		}
		.min-max {
			float: left;
			line-height: 33px;
			font-size: 11px;
			color: rgb(106, 119, 134);
			margin-right: 15px;
		}
	}
}
