.client-form {
	text-align: left;
	display: block;
	margin: 0 auto;
	color: #333f48;
	font-size: 13px;
}
.client-form .box-shadow {
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.01), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
	border-radius: 2px;
}
.client-form .clear {
	clear: both;
	width: 100%;
}
.client-form .hide {
	display: none;
}
.client-form .limit-char {
	text-align: right;
	position: absolute;
	width: 100%;
}
.client-form .noselect, .client-form img, .client-form label {
	-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		 -khtml-user-select: none; /* Konqueror HTML */
			 -moz-user-select: none; /* Firefox */
				-ms-user-select: none; /* Internet Explorer/Edge */
						user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
.client-form .validation-error {
	color: #e4002b;
	font-size: 11px;
	display: block;
	clear: both;
	min-height: 19px;
	text-align: right;
  line-height: 19px;
}

.client-form .container-field {
	float: left;
	position: relative;
	width: -webkit-calc(100% - 20px);
	width: -moz-calc(100% - 20px);
	width: calc(100% - 20px);
	min-height: 90px;
	margin: 0px 10px;
}
.client-form .container-field label:first-child {
	width: 100%;
	float: left;
	clear: both;
	text-align: left;
	height: 24px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
}
.client-form .container-field svg path {
	fill: #d8d8df;
}
.client-form .container-field .ext {
	fill: #fff;
}
.client-form .container-field .int {
	fill: rgb(0, 132, 255);
}
.client-form .button-container {
	width: 100%;
	float: right;
	position: relative;
}
.client-form .button-container svg {
	background: none;
	position: absolute;
	left: 8px;
	top: 8px;
}
.client-form .button-container .spin {
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.client-form .btn {
	position: relative;
	float: left;
	background: #323f48;
	margin: 0px 0px 0px 0px;
	padding: 0px 10px;
	height: 40px;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
	line-height: 40px;
	border: none;
	border-radius: 2px;
	text-align: center;
	text-decoration: none;
	transition-duration: 0.2s, 0.2s;
	transition-timing-function: ease-in, ease-out;
	font-weight: 500;
	-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		 -khtml-user-select: none; /* Konqueror HTML */
			 -moz-user-select: none; /* Firefox */
				-ms-user-select: none; /* Internet Explorer/Edge */
						user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
.client-form .btn-sent {
	padding-left: 40px;
}
.client-form .btn:hover {
		background-color: #161e24;
		border-color: #161e24;
}
.client-form .btn-succeed {
	padding-left: 40px;
	background-color: #00c694!important;
	border: 1px solid #00c694!important;
	color: #fff!important;
}
.client-form .btn-white {
	background-color: #fff!important;
	border: 1px solid #323f48!important;
	color: #323f48!important;
}
.client-form .btn-white:hover {
	background-color: #fff!important;
	border: 1px solid #323f48!important;
	color: #323f48!important;
}
.client-form .btn-grey {
	background: #f1f1f1;
	color: #323f48!important;
}
.client-form .btn-grey:hover {
	background: #f1f1f1;
}
.client-form .btn-red {
	padding-left: 40px;
	background: #e4002b;
}
.client-form .btn-red:hover {
	background-color: #a30000;
	border-color: #a30000;
}

/* CustomCheckBox CustomRadio */
.client-form input[type='radio'], input[type='checkbox'] {
	display: none;
}
.client-form input[type="checkbox"] + label, input[type='radio'] + label {
	display: inline-block;
	cursor: pointer;
}
.client-form input[type='radio'] + label {
	width: 100%;
	padding: 4px 0px;
}
.client-form input[type="checkbox"] + label > svg,
.client-form input[type="radio"] + label > svg {
	float: left;
}
.client-form input[type="checkbox"] + label > div,
.client-form input[type="radio"] + label > div {
	width: auto;
	height: 24px;
	line-height: 24px;
	padding-left: 5px;
	cursor: pointer;
	float: left;
	white-space: nowrap;
}
.client-form .check {
	padding-top: 23px;
}

/* CustomTextField CustomTextarea */
.client-form input[type=email],
.client-form input[type=number],
.client-form input[type=password],
.client-form input[type=tel],
.client-form input[type=text],
.client-form textarea {
	border: 1px solid #d8d8df;
	padding: 15px 8px;
	border-radius: 2px;
	color: #333f48;
	background-color: #fff;
	line-height: 13px;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 100%;
	transition: border .5s ease;
}
.client-form .container-field .eye {
	position: absolute;
	right: 5px;
	top: 37px;
	cursor: pointer;
}
.client-form .container-field .eye .show {
	fill: none;
}
.client-form .container-field .unit {
	position: absolute;
	right: 5px;
	top: 37px;
	height: 24px;
	line-height: 24px;
	width: 24px;
	text-align: center;
	font-size: 14px;
	color: #333f48;
	font-weight: 500;
}

/* CustomTextAreaTab */
.client-form .container-field .container-field-tabs {
	width: 100%;
	clear: both;
	float: left;
}
.client-form .container-field .container-field-tabs .tab-label {
	display: none;
}
.client-form .container-field .container-field-tabs .tab-abbr {
	display: block;
}
.client-form .container-field .container-field-tabs .container-field-tabs-item {
	transition-duration: 0.2s, 0.2s;
	transition-timing-function: ease-in, ease-out;
	cursor: pointer;
	background: #f1f1f1;
	height: 30px;
	line-height: 30px;
	float: left;
	margin-right: 2px;
	padding: 0px 10px;
	color: #333f48;
}
.client-form .container-field .container-field-tabs .container-field-tabs-item:hover {
	background: #d8d8df;
	color: #333f48;
}
.client-form .container-field .container-field-tabs .container-field-tabs-item-selected {
	background: #333f48;
	color: #fff;
}
.client-form .container-field .container-field-tabs .container-field-tabs-item-selected:hover {
	background: #333f48;
	color: #fff;
}

/* CustomPlusMinus */
.client-form .plus-minus {
	max-width: 250px;
}
.client-form .plus-minus input {
	height: 40px;
	min-height: 40px;
	padding: 7px 8px;
}
.client-form .plus-minus svg {
	float: left;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	cursor: pointer;
}
.client-form .plus-minus svg:first-child {
		margin-right: 30px;
}
.client-form .plus-minus svg:last-child {
		margin-left: 30px;
}
.client-form .plus-minus svg path, .client-form .plus-minus svg rect {
	fill: #fff;
}

/* CustomSelect */
.client-form .select-style {
	background: #fff;
	height: 47px;
	line-height: 47px;
	width: 100%;
	display: inline-block;
	border: 1px solid #d8d8df;
	border-radius: 2px;
	position: relative;
	z-index: 1;
	cursor: pointer;
}
.client-form .select-style label {
	position: absolute;
	top: -21px;
	left: 0;
	display: block;
	font-size:13px;
}
.client-form .select-style select {
	padding: 0px 26px 0px 8px;
	border: 0;
	background: transparent;
	height: 47px;
	color: #333f48;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 100%;
	cursor: pointer;
	z-index: 1;
	-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		 -khtml-user-select: none; /* Konqueror HTML */
			 -moz-user-select: none; /* Firefox */
				-ms-user-select: none; /* Internet Explorer/Edge */
						user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
.client-form .select-style svg {
	position: absolute;
	right: 1px;
	top: 10px;
	z-index: -1;
}
select::-ms-expand {
	display: none;
}

/* FakeSelect */
.client-form .container-field .fake-cont {
	position: absolute;
	margin-top: -66px;
	opacity: 0;
	z-index: -1;
	transition-duration: 0.3s, 0.3s;
	transition-timing-function: ease-in, ease-out;
	width: 100%;
	padding: 10px 10px 0px 10px;
}
.client-form .container-field .fake-cont .min-max {
	float: left;
	line-height: 47px;
	font-size: 11px;
	color: rgb(106, 119, 134);
	margin-right: 15px;
	width: auto;
}

/* AutoSuggest */
.client-form .autosuggest {
  position: relative;

}
.client-form .autosuggest svg {
	position: absolute;
	z-index: 1;
	top: 36px;
	right: 10px;
	width: 24px;
	height: 24px;
}
.client-form .autosuggest svg circle {
	stroke: #96a1b0;
}
.client-form .autosuggest .autosuggest-suggestions {
	position: absolute;
	background: #fff;
	z-index: 9999;
	width: 100%;
	cursor: pointer;
}
.client-form .autosuggest .autosuggest-suggestions .autosuggest-suggestion:hover {
	background: #d8dbdf;
}
.client-form .autosuggest .autosuggest-suggestions .autosuggest-suggestion,
.client-form .autosuggest .autosuggest-suggestions .autosuggest-suggestion-selected {
	height: 48px;
	line-height: 48px;
	padding: 0px 8px;
}
.client-form .autosuggest .autosuggest-suggestions .autosuggest-suggestion-selected {
	background: #d8dbdf;
}

@media screen and (min-width: 560px) {
	.client-form {
		padding: 0px 0px 0px 0px;
	}

	.client-form .container-field {
		width: 250px;
		min-height: 77px;
	}

	.client-form .check {
		padding-top: 22px;
	}
	.client-form .check label {
		padding: 5px 0px;
	}

	.client-form input[type=email],
	.client-form input[type=number],
	.client-form input[type=password],
	.client-form input[type=tel],
	.client-form input[type=text] {
		padding: 7px 8px;
		height: 34px;
		min-height: 34px;
	}

	.client-form .container-field .eye, .client-form .container-field .unit {
		top: 29px;
	}

	.client-form .container-field .container-field-tabs .tab-label {
		display: block;
	}
	.client-form .container-field .container-field-tabs .tab-abbr {
		display: none;
	}

	.client-form .select-style {
		height: 34px;
		line-height: 34px;
	}
	.client-form .select-style select {
		height: 34px;
	}
	.client-form .select-style svg {
		top: 4px;
		transition-duration: 0.2s, 0.2s;
		transition-timing-function: ease-in, ease-out;
	}
	.client-form .select-style select[aria-expanded="true"] + svg {
	  transform: rotate(180deg);
	}

	.client-form .container-field .fake-cont {
		margin-top: -53px;
	}
	.client-form .container-field .fake-cont .min-max {
		line-height: 33px;
	}
	.client-form .autosuggest .autosuggest-suggestions .autosuggest-suggestion-selected {
		height: 40px;
		line-height: 40px;
	}
	.client-form .autosuggest svg {
		top: 33px;
		right: 8px;
	}
}
